[Unit]
Description=A Spring Boot application

[Service]
ExecStart=/bin/java -jar /var/webapp/Registration-0.0.1-SNAPSHOT.jar \
--spring.config.location=file:///var/webapp/application.properties \
SuccessExitStatus=777

[Install] 
WantedBy=multi-user.target  